@using Framework.Application.Enums
@using VideoRayan.Application.Contract.CustomerAgg
@model IEnumerable<CustomerDto>

@{
    ViewData["Title"] = "مشتریان";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var count = 1;
    var type = ViewBag.Type as CustomerType?;
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right"></h4>
        <ol class="breadcrumb pull-right">
            <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">ویدئو رایان</a></li>

            @if (type == CustomerType.ORGANIZATION)
            {
                <li class="active"> <a asp-controller="Customer" asp-action="Index" asp-route-type="@CustomerType.FREE">@ViewData["title"]</a> </li>
                <li class="active">سازمانی</li>
            }
            else
            {
                <li class="active"> <a asp-controller="Customer" asp-action="Index" asp-route-type="@CustomerType.ORGANIZATION">@ViewData["title"]</a> </li>
                <li class="active">رایگان</li>
            }
        </ol>
        <p class="pull-left">

            <a class="btn btn-success" href="#showmodal=@Url.Action("Create", "Customer")">ایجاد اپراتور جدید</a>

            @if (type == CustomerType.ORGANIZATION)
            {
                <a class="btn btn-primary" asp-controller="Customer" asp-action="Index" asp-route-type="@CustomerType.FREE">رایگان</a>
            }
            else
            {
                <a class="btn btn-info" asp-controller="Customer" asp-action="Index" asp-route-type="@CustomerType.ORGANIZATION">سازمانی</a>
            }
        </p>
    </div>
</div>

<div class="row" id="ProductCategoriesDiv">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewData["Title"]</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 makeTableResponsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>

                                    <th>لوگو</th>

                                    <th>نام کامل</th>
                                    <th>موبایل</th>
                                    <th>وضعیت</th>

                                    <th>تاریخ ثبت</th>

                                    <th>عملیات</th>

                                </tr>
                            </thead>
                            <tbody class="text-center">
                                @foreach (var entity in Model)
                                {
                                    <tr class="text-center">
                                        <td>@(count++)</td>

                                        <td> <img src="~/Pictures/@entity.Logo" style="width: 85px; height: 85px; border-radius: 10px"> </td>

                                        <td>@(entity.FirstName) @(entity.LastName)</td>
                                        <td>@entity.Mobile</td>
                                        <td>
                                            @if (entity.IsActive)
                                            {
                                                <i class="text text-success fa fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="text text-danger fa fa-close"></i>
                                            }
                                        </td>
                                        <td>@entity.PersianCreationDate</td>

                                        <td style="text-align: right;">

                                            @if (entity.IsActive)
                                            {
                                                <a class="btn btn-warning" asp-controller="Customer" asp-action="ChangeStatus" asp-route-id="@entity.Id">غیرفعال</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-success" asp-controller="Customer" asp-action="ChangeStatus" asp-route-id="@entity.Id">فعال</a>
                                            }

                                            <a class="btn btn-secondary" asp-controller="Category" asp-action="Index" asp-route-customerId="@entity.Id">گروه ها</a>
                                            <a class="btn btn-secondary" asp-controller="Audience" asp-action="Index" asp-route-customerId="@entity.Id">مخاطبان</a>
                                            <a class="btn btn-secondary" asp-controller="Meeting" asp-action="Index" asp-route-customerId="@entity.Id">جلسات</a>

                                            <a class="btn btn-info pull-right m-rl-5"
                                           href="#showmodal=@Url.Action("Detail", "Customer", new {id = entity.Id})">
                                                <i class="fa fa-eye"></i>
                                            </a>

                                            <a class="btn btn-warning pull-right m-rl-5"
                                           href="#showmodal=@Url.Action("Edit", "Customer", new {id = entity.Id})">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-primary pull-right m-rl-5"
                                           href="#showmodal=@Url.Action("SendMessage", "Customer", new {id = entity.Id})">
                                                <i class="fa fa-envelope-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/AdminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
        });
    </script>
}